---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/navigation/Navbar';
import Hero from '../components/sections/Hero';
---

<Layout title="Modern Portfolio">
  <Navbar client:load />
  <main>
    <Hero client:load />
    <!-- Other sections will be added here -->
  </main>
</Layout>

