@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 18 18 18;
    --card: 30 30 30;
    --border: 38 38 38;
    --primary: 235 186 123;
    --muted: 115 115 115;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .dark {
    --background: 18 18 18;
    --card: 30 30 30;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .theme {
    --animate-aurora: aurora 8s ease-in-out infinite alternate;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@theme inline {
  @keyframes aurora {
  0% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  25% {
    background-position: 50% 100%;
    transform: rotate(5deg) scale(1.1);
    }
  50% {
    background-position: 100% 50%;
    transform: rotate(-3deg) scale(0.95);
    }
  75% {
    background-position: 50% 0%;
    transform: rotate(3deg) scale(1.05);
    }
  100% {
    background-position: 0% 50%;
    transform: rotate(-5deg) scale(0.9);
    }
  }
}